.pink-color{
    background-color:rgb(231,0,116);
    color:white;
}

.Order{
    display:flex;
    flex-direction: row;
    justify-content: center;
}

.mid{
    margin-top:auto;
    margin-bottom:auto;
}

